<div class="container">
  <form id="form" accept-charset="UTF-8" action="/movies" method="post">
    <label for="q">Search for:</label>
    <input id="q" name="q" type="text" placeholder="Star Wars" />
    <input name="commit" type="submit" value="Search" />
  </form>

  <div id="movieResultsContainer">
    <ul id="movieList">
    </ul>
  </div>
</div>
